# Build files
build/
bin/
lib/

# Compilation database
compile_commands.json

# IDE config
.vscode/

# Temporary files
*.swp
*.bak
.DS_Store
.cache/

# 忽略所有私钥文件
*.key
# 忽略证书目录（或者按需保留 crt，但绝对不能留 key）
certs/
